<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="com.vogella.saneclipse.preferences.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.vogella.vde.preferencesspy.preferencepage.TracePreferencePage"
            id="com.vogella.vde.preferencesspy.tracepreferencespage"
            name="Preference Spy">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            class="com.vogella.vde.preferencesspy.parts.PreferenceSpyPart"
            id="com.vogella.vde.preferencesspy.e4viewPart"
            name="Preference Spy"
            restorable="true">
      </e4view>
   </extension>

</plugin>
