<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.vogella.vde.preferencesspy.StartPreferenceSpy"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.vogella.vde.preferencesspy.preferencepage.TracePreferencePage"
            id="com.vogella.vde.preferencesspy.page2"
            name="Preference Spy">
      </page>
   </extension>

</plugin>
